<%= javascript_pack_tag 'components/admin/magazines', defer: true %>
<style>
    <magazine-list {
        margin: 0;
    }
    .component_container {
        padding: 0;
    }
</style>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 component_container">
        <magazine-list data-url="/api/magazines" form-authenticity-token="<%= form_authenticity_token.to_s %>"></magazine-page>
    </div>
</div>