<%= javascript_pack_tag 'components/insurances/claims', defer: true %>
<style>
    claim-list {
        margin: 0;
    }
    .component_container {
        padding: 0;
    }

</style>
<div class="row">
    <% if @insurance then %>
    <div class="col-md-12 col-sm-12 col-xs-12 component_container">
        <claim-list data-url="/api/claims?insurance_id=<%= @insurance.id%>" form-authenticity-token="<%= form_authenticity_token.to_s %>"></claim-page>
    </div>
    <% else %>
        <redirect-with-message message="There's no Policy with this Number:<%=params[:id]%>" timeout="10"></redirect-with-message>
    <% end %>

</div>