<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            <li><a href="/backoffice"><i class="fa fa-home"></i> Dashboard </a>                
            </li>

            <li><a><i class="fa fa-users"></i> Users <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/backoffice/users">List of User</a></li>
                    <li><a href="/backoffice/cities">List of Cities</a></li>
                    <li><a href="/backoffice/users/log_user_notification">List of User Notification</a></li>
                    <li><a href="/backoffice/automated_notifications">Automated Notification</a></li>
                    <li><a href="/backoffice/admins">Admins</a></li>
                    <li><a href="/backoffice/divisions">Division</a></li>
					<li><a>Insurance <span class="fa fa-chevron-down"></span></a>
						<ul class="nav child_menu">
							<li><a href="/backoffice/insurances">Polis</a>
							<li><a href="/backoffice/insurances/claims">Insurance Claim</a>							
							<li><a href="/backoffice/insurances/quota">Quota</a>							
							<li><a href="/backoffice/insurances/templates">Templates</a>
						</ul>
					</li>
					
                </ul>
            </li>

            <li><a><i class="fa fa-user-md"></i> Doctors <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="general_elements.html">General Elements</a></li>
                    <li><a href="media_gallery.html">Media Gallery</a></li>
                    <li><a href="typography.html">Typography</a></li>
                    <li><a href="icons.html">Icons</a></li>
                    <li><a href="glyphicons.html">Glyphicons</a></li>
                    <li><a href="widgets.html">Widgets</a></li>
                    <li><a href="invoice.html">Invoice</a></li>
                    <li><a href="inbox.html">Inbox</a></li>
                    <li><a href="calendar.html">Calendar</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-comments"></i> Questions <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="tables.html">Tables</a></li>
                    <li><a href="tables_dynamic.html">Table Dynamic</a></li>
            </li>
                </ul>
            <li><a><i class="fa fa-bar-chart-o"></i> Journals <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/backoffice/journals">List of Journal</a></li>
                    <li><a href="/backoffice/payment_gateways">List of Payment Gateways</a></li>
                    <li><a href="/backoffice/payment_methods">List of Payment Methods</a></li>
                    <li><a href="/backoffice/payment_providers">List of Payment Provides</a></li>
                    <li><a href="/backoffice/payment_sections">List of Payment Sections</a></li>
                    <li><a href="/backoffice/app_products">App Products</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-android"></i>Ads <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/backoffice/native_ads">Native Ad Unit</a></li>
                    <li><a href="/backoffice/native_ad_slides">Native Ad Slide</a></li>
                    <li><a href="/backoffice/video_campaigns">Video Campaign </a></li>
                    <li><a href="/backoffice/video_ads">Video Ad Unit</a></li>
                    <li><a href="/backoffice/video_ad_magazines">Video Ad in Managize</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-bullhorn"></i>Campaigns <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/backoffice/campaign/schedules">Schedules</a></li>
                    <li><a href="/backoffice/campaign_tags">Campaign Tags</a></li>
                    <li><a href="/backoffice/campaign_webs">Campaign Web</a></li>
                    <li><a href="/backoffice/campaign_clients">Clients</a></li>
                    <li><a href="/backoffice/form_types">Form Types</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-pie-chart"></i>Reports <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="fixed_sidebar.html">Fixed Sidebar</a></li>
                    <li><a href="fixed_footer.html">Fixed Footer</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-clone"></i>Data Master <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="fixed_sidebar.html">Fixed Sidebar</a></li>
                    <li><a href="fixed_footer.html">Fixed Footer</a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-gear"></i>Settings <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/backoffice/dead_letters">Dead Letters</a></li>
					<li><a href="/backoffice/parameterize">Parameterize</a></li>
					<li><a href="/backoffice/pages">Pages</a></li>
					<li><a href="/backoffice/main_tabs">Main Tabs</a></li>
					<li><a href="/backoffice/main_menu">Main Menu</a></li>
					<li><a href="/backoffice/faqs">Faqs</a></li>
					<li><a href="/backoffice/faq_types">Faq Types</a></li>
					<li><a href="/backoffice/referral_chats">Referral Chats</a></li>
                </ul>
            </li>
        </ul>
    </div>    

<footer>
    <div class="pull-right">
        BackOffice | <a href="https://backoffice.alodokter.com">www.alodokter.com</a>
    </div>
    <div class="clearfix"></div>
</footer>
</div>