<%= javascript_pack_tag 'components/core/interests', defer: true %>
<style>
    <interest-list {
        margin: 0;
    }
    .component_container {
        padding: 0;
    }
</style>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 component_container">
        <interest-list data-url="/api/interests" form-authenticity-token="<%= form_authenticity_token.to_s %>"></interest-page>
    </div>
</div>