<%= javascript_pack_tag 'components/core/questions', defer: true %>
<style>
    <question-list {
        margin: 0;
    }
    .component_container {
        padding: 0;
    }
</style>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 component_container">
        <question-list data-url="/api/questions" form-authenticity-token="<%= form_authenticity_token.to_s %>"></question-page>
    </div>
</div>