<%= javascript_pack_tag 'components/core/user_meta_descriptions', defer: true %>
<style>
    <user_meta_description-list {
        margin: 0;
    }
    .component_container {
        padding: 0;
    }
</style>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 component_container">
        <user_meta_description-list data-url="/api/user_meta_descriptions" form-authenticity-token="<%= form_authenticity_token.to_s %>"></user_meta_description-page>
    </div>
</div>