<!-- ad -->
<div class="aside-widget text-center">
    <a href="#" style="display: inline-block;margin: auto;">
        <img class="img-responsive" src="<%= image_path('front/ad-1.jpg') %>" alt="">
    </a>
</div>
<!-- /ad -->