<!-- Page Header -->
<div id="post-header" class="page-header">
    <div class="background-img" style="background-image: url('<%= image_path('front/post-page.jpg') %>');"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="post-meta">
                    <a class="post-category cat-2" href="category.html">Aqidah</a>
                    <span class="post-date">March 27, 2018</span>
                </div>
                <h1>Aqidah Islam, Pengertian dan Pembagiannya</h1>
            </div>
        </div>
    </div>
</div>
<!-- /Page Header -->